@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

body {
    
}
.background-guest {
    background: url('../../../public/rm380-12.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Mengatur gambar agar mengisi area latar belakang sepenuhnya */
    background-position: center; /* Mengatur posisi gambar agar terletak di tengah latar belakang */
    position: fixed;
    width: 100vw;
    height: 100vh;
}



.text-container {
    max-width: 70%;
}

.text-container h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}


.buttons a {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

        /* Keyframes for fade-in animation */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Apply initial state and transition properties */
        .section h3, .section p {
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 1s forwards;
        }

        .section h3 {
            animation-delay: 0.5s; /* Delay for h3 */
        }

        .section p {
            animation-delay: 1s; /* Delay for p */
        }

        /* Example of hover effect if needed */
        .section h3:hover, .section p:hover {
            transform: translateY(-10px);
            color: #FFD700;
            transition: all 0.3s ease;
        }

.image-container {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        text-align: center;
    }
    .text-container, .image-container {
        max-width: 100%;
    }
}






.button-kembali-1{
}

.button-menuju-3{

}

.logo-container {
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.text-container {
    flex-grow: 1;
}

.image {
    background-size: contain; /* Mengatur gambar agar mengisi area latar belakang sepenuhnya */
    background-position: right; /* Mengatur posisi gambar agar terletak di tengah latar belakang */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    width: 100%; /* Atur sesuai kebutuhan */
    height: 100%; /* Atur sesuai kebutuhan */
    position: relative; /* Atur sesuai kebutuhan */
}