@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

body{
    background-color: #F8F9FB;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.big-card-container {
    width: 30%;
    min-width: 30%;
    /*max-width: 30%;*/
    flex-direction: column;
    align-items: center;
}

.big-card {
    background-color: #202444;
    width: 100%;
    border-radius: 20px;
    padding: 4rem;
}

.button-kembali-1{
}

.button-menuju-3{

}

.logo-container {
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.text-container {
    flex-grow: 1;
}


.custom-card {
    flex: 1;
    max-width: calc(33.333% - 70px);
    height: 500px;
    margin: 0 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

