* {
    font-family: Arial, sans-serif;
}

#yearsList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.ant-modal-content {
    width: 34.375em; /* Atur lebar modal */
    height: 15.625em;
    padding: 3.125em; /* Atur padding di dalam modal */
}

.form-select {
    border-radius: 0.625em;
    width: 32em;
    height: 4vh;
    margin-top: 2em;
    margin-bottom: 2em;
}

.isi-week-bulan{
    font-size: 0.5em;
}

.year-item {
    color: black; /* Mengubah warna teks menjadi hitam */
    margin-left: 0.4em;
    margin-right: 3.375em;
    font-size: 1.25em;
    background-color: transparent;
    padding: 0.625em 1.25em;
    cursor: pointer;
    height: auto;
    border: none; /* Menjadikan border menjadi tidak terlihat */
}

/* Warna latar belakang saat hover */
.year-item:hover {
    background-color: #8333D3;
}

/* Warna latar belakang saat aktif */
.year-item:active {
    background-color: #8333D3;
    border: none; /* Menjadikan border menjadi tidak terlihat */
}

.add-year-btn:hover {
    background-color: #8333D3;
    color: #FFFFFF;
}

.add-year-btn {
    background-color: #F5EEFB;
    color: #8333D3;
    height: 2.5em;
    font-size: 1.2em;
    padding: 1em;
    margin-right: 0.625em;
    border-radius: 0.7em;
    border: none; /* Menjadikan border menjadi tidak terlihat */
    order: 999; /* Memastikan tombol ini selalu di akhir */
}

.summary-container {
    min-height: 35em;
    height: auto;
    margin-top: 1em;
    padding: 1.1em;
    border-radius: 1.5em;
    background-color: #ffffff;
    box-shadow: 0.3em 0.4em 0.4em 0.5em rgba(0, 0, 0, 0.1);
}

.month-item {
    font-weight: 600;
    margin-left: 0.3em;
    font-size: 1.6em;
    background-color: transparent;
    padding: 0.4em 1em;
    cursor: pointer;
    height: auto;
    border: none; /* Menjadikan border menjadi tidak terlihat */
}

.add-month-btn {
    background-color: #F5EEFB;
    color: #8333D3;
    font-size: 1.5em;
    font-weight: bold;
    height: 3.5em;
    width: 100%;
}

.add-year-btn {
    background-color: #F5EEFB;
    color: #8333D3;
    height: 2.5em;
}

.years-container {
    /*height: 90%;*/
    margin-top: 1em;
    padding: 1.1em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0.3em 0.4em 0.5em rgba(0, 0, 0, 0.1);
}


.card {
    box-shadow: 0.3em 0.4em 0.5em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1.5em;
    border-radius: 1.5em;
}
