/* Atur font default untuk semua elemen */
body {
    font-family: 'Inter', sans-serif;
    background: url('../../../public/elegant.jpg'); /* Ganti dengan path gambar Anda */
    background-attachment: fixed; /* Membuat background tetap di tempat saat di-scroll */
    background-size: cover; /* Mengatur gambar agar mengisi area latar belakang sepenuhnya */
}


* {
    font-family: Arial, sans-serif;
}

/* Styling untuk modal konten */
.ant-modal-content {
    width: 34.375em;
    height: 15.625em;
    padding: 3.125em;
}

/* Styling umum untuk seleksi form */
.form-select {
    border-radius: 0.625em;
    width: 32em;
    height: 4vh;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Styling untuk item-item tahun */
#yearsList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.year-item {
    color: black;
    margin-left: 0.4em;
    margin-right: 3.375em;
    font-size: 1.25em;
    background-color: transparent;
    padding: 0.625em 1.25em;
    cursor: pointer;
    height: auto;
    border: none;
}

.year-item:hover, .year-item:active {
    background-color: #8333D3;
}

/* Styling untuk tombol penambahan tahun */
.add-year-btn {
    background-color: #F5EEFB;
    color: #8333D3;
    height: 2.5em;
    font-size: 1.2em;
    padding: 1em;
    margin-right: 0.625em;
    border-radius: 0.7em;
    border: none;
    order: 999;
}

.add-year-btn:hover {
    background-color: #8333D3;
    color: #FFFFFF;
}

/* Styling untuk container summary */
.summary-container {
    min-height: 35em;
    margin-top: 1em;
    padding: 1.1em;
    border-radius: 1.5em;
    background-color: #ffffff;
    box-shadow: 0.3em 0.4em 0.4em 0.5em rgba(0, 0, 0, 0.1);
}

/* Styling umum untuk item bulan dan week */
.month-item, .month-item-week {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 0.3em;
}

.month-item {
    font-weight: 600;
    font-size: 1.6em;
    padding: 0.4em 1em;
    height: auto;
}

.month-item-week {
    font-weight: 200;
    font-size: 0.6em;
    padding: 0em 1.4em 1em;
    height: auto;
}

/* Styling untuk tombol penambahan bulan */
.add-month-btn {
    background-color: #F5EEFB;
    color: #8333D3;
    font-size: 1.5em;
    font-weight: bold;
    height: 3.5em;
    width: 100%;
}

/* Styling umum untuk containers dan cards */
.years-container, .card {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: 0.3em 0.4em 0.5em rgba(0, 0, 0, 0.1);
    margin-top: 1em;
}

.years-container {
    border-radius: 1.5em;
    padding: 1.1em;
}
