@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;700&display=swap');

.isi-jpm{
    background-color: #F8F9FB;
    border-radius: 1em;
    border-color: #E1E1E1;
    box-shadow: 0.2em 0.1em 0.2em rgba(0, 0, 0, 0.1);
}

.mesin-jpm{
    background-color: #F8F9FB;
    border-radius: 1em;
    border-color: #E1E1E1;
    box-shadow: 0.2em 0.1em 0.2em rgba(0, 0, 0, 0.1);
}

.desc-container{
    height: 5em;
}

#globalDescContainer{
    min-height: 20em;
}

.headers-days{
    background-color: #F8F9FB;
}

.add-mesin-button {
    width: 10em;
    height: 4em;
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
    z-index: 1000; /* Pastikan tombol muncul di atas elemen lain */
}

/* Custom colors */
.custom-badge1 {
    background: linear-gradient(to bottom, #37a61b 0%,#33a914 1%,#35ac14 17%,#37aa16 20%,#34af0d 22%,#34b113 24%,#32ae14 26%,#3bab17 30%,#3aaa15 31%,#36a90e 32%,#38ad11 33%,#37af16 36%,#36ae11 36%,#36ac0e 39%,#39b115 41%,#38b215 42%,#39ad11 44%,#3ead10 46%,#3cad0e 48%,#37b114 50%,#38b113 52%,#3ead15 54%,#39b112 58%,#3cb016 61%,#3db210 66%,#3caf17 70%,#3bb310 74%,#3db30f 76%,#40b117 79%,#3fb214 80%,#41b313 97%,#3eb714 100%);

}
.custom-badge2 {
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #fb9d9d 10%, #ff0000 80%);
    /* Warna kustom */
}
.custom-badge3 {
    background-color: #5078f2;
    background-image: linear-gradient(315deg, #efe9f4 10%, #0946fe 80%);
    /* Warna kustom */
}
.custom-badge4 {
    background-color: #f4f5f6;
    background-image: linear-gradient(315deg, #f4f5f6 10%, #9b4dca 80%); /* Warna kustom */
}
.custom-badge5 {
    background: linear-gradient(to bottom, #f8d75a 0%,#f8d75a 100%);
}
.custom-badge6 {
    background-color: #f5d3c8;
    background-image: linear-gradient(315deg, #f5d3c8 10%, #c08552 80%);
    /* Warna kustom */
}
.custom-badge {
    background-color: #82947A; /* Warna kustom */
    color: white;
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
    padding: 0.125rem 0.625rem; /* Padding atas-bawah: 2px, kiri-kanan: 10px */
    border-radius: 9999px;
}

.add-jpm-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #F1EFFF; /* Ungu */
    color: #8333D3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem; /* Spacing from previous entries */
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
    gap: 0.5rem;
}

.entry-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* Custom CSS for time input */
.time-picker {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.time-picker label {
    margin-bottom: 0.5rem;
}
.time-inputs {
    display: flex;
    align-items: center;
}
.time-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}
.time-input input {
    text-align: center;
    width: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.25rem;
    -moz-appearance: textfield;
}
.time-input input::-webkit-inner-spin-button,
.time-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.time-input button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}
.time-input button:hover {
    color: #4c51bf;
}
